.Dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: 90vh;
    transition: 350ms;
}

.Dashboard.enabled{
    margin-left: 250px;
    transition: 350ms;
}

.Dashboard div{
    height: 46%;
    width: 46%;
    font-size: 5rem;
    margin: 1rem auto;
    background-color: rgb(179, 179, 179);
}

/* .Dashboard-Trends{
    flex-grow: 1;
    width: 250px !important;
}
.Dashboard-Overview{
    flex-grow: 1;
    width: 200px !important;
}
.Dashboard-Trends{
    flex-grow: 1;
}
.Dashboard-Classifier{
    flex-grow: 1;
    align-self: flex-end;
} */