.Dashboard {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:stretch;
    flex-wrap: wrap;
    text-align: center;
    height: 90vh;
    transition: 350ms;
}

.Dashboard.enabled{
    margin-left: 250px;
    transition: 350ms;
}

.Dashboard-Overview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 48%;
    width: 48%;
    font-size: 5rem;
    background-color: rgb(179, 179, 179);
}
.Dashboard-Overview div{
    width: 10%;
    height: 20%;
    font-size: 1rem;
    background-color: rgb(70, 70, 70);
}
.Dashboard-Classifier{
    height: 48%;
    width: 48%;
    font-size: 5rem;
    background-color: rgb(179, 179, 179);
}
.Dashboard-Trends{
    height: 48%;
    width: 48%;
    font-size: 5rem;
    background-color: rgb(179, 179, 179);
}
.Dashboard-News{
    height: 48%;
    width: 48%;
    font-size: 5rem;
    background-color: rgb(179, 179, 179);
}
