.Dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    height: 90vh;
    transition: 350ms;
}

.Dashboard.enabled{
    margin-left: 250px;
    transition: 350ms;
}

.Dashboard div{
    height: 400px;
    width: 400px;
    font-size: 1rem;
    margin: 1rem auto;
    background-color: rgb(179, 179, 179);
}

.Dashboard h1 {
    align-content:flex-end;
}